
*{
    padding:0 ;
    margin:0;
    box-sizing: border-box;

}

body{
    font-size: 14px;
    background-color : hsl(0, 0%, 95%);
 }

.container{
    width:100%;
    height : 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.grid{
    width : 65%;
    height: 75%;
    background-color:hsl(0, 0%, 95%);
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.griditem{
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.75rem;
    width:100%;
    text-align:justify;
    padding : 4rem 3.5rem 0 3.5rem;
}

h2{
    margin: 1.5rem 0 1.5rem 0;
    color:hsl(0, 0%, 95%);
    font-size: 2.5rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

p{
   color:hsla(0, 0%, 100%, 0.75);
   font-family: 'Lexend Deca', sans-serif;
   font-size:0.85rem;
   font-weight: 400;
   text-align:left;
   
}

#first{
   border-radius: 0.90rem 0px 0px 0.90rem;
}

#third{
    border-radius: 0rem 0.9rem 0.9rem 0rem;
}

 #first >button{
     margin:3rem  0 0 0;
     border:1px solid white;
     border-radius:2.3rem;
     padding:0.8rem;
     width:75%;
     font-size: 0.8rem;
     color:hsl(31, 77%, 52%);
     background-color: white;
     position:center;
     text-align:center;
     letter-spacing: 0.05rem;
     cursor: pointer;

}

#first>button:hover{
    color:white;
    background-color:hsl(31, 77%, 52%) ;
}

#second >button{
    margin:3rem  0 0 0;
    border:1px solid white;
    border-radius:2.3rem;
    padding:0.8rem;
    width:75%;
    font-size: 0.8rem;
    color:hsl(184, 100%, 22%);
    background-color: white;
    position:center;
    text-align:center;
    letter-spacing: 0.05rem;
    cursor: pointer;

}

#second>button:hover{
    color:white;
    background-color:hsl(184, 100%, 22%) ;
}

#third>button{
    margin:3rem  0px 0px 0px ;
    border:1px solid white;
    border-radius:2.3rem;
    padding:0.8rem;
    width:75%;
    font-size: 0.8rem;
    color:hsl(184, 100%, 22%);
    background-color: white;
    position:center;
    text-align:center;
    letter-spacing: 0.05rem;
    cursor: pointer;

}

#third>button:hover{
    color:white;
    background-color:hsl(179, 100%, 13%) ;
    
} 

@media (min-width:0px) and (max-width:600px){
    .contain{
         width:100%;
         height:100%;
     }
    .grid{
        width:100%;
        margin:6rem 2rem 2rem 2rem ;
        grid-template-columns: 100%;
    }

    #first > button,#second > button,#third > button{
        margin-bottom: 2rem;
    }

    #first{
        border-radius: 0.9rem 0.9rem 0rem 0rem;
    }

    #third{
        border-radius: 0rem 0rem 0.9rem 0.9rem;
    }
    
    .attribution{
        display:none;
    }
}